code {
  color: #1e347b; }

.tab-content {
  background-color: #f7f7f9; }

.img_brand {
  height: 30px; }

.framework {
  background: url(https://angularjs.org/img/AngularJS-large.png) top left no-repeat;
  height: 108px;
  margin: 0 auto 50px auto;
  width: 383px; }

.followers {
  width: 20px;
  height: 20px; }
